*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    
}

.container h1{
    text-align: center;
    border-bottom: 2px black solid;
}

.container__buttons{
    display: flex;
    justify-content: center
}

.container__button{
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
}
.active{
    color: red;
}
