.userlist{
    width: 100%;
    height: 140px;
    margin-top: 5px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    position: relative;
    padding-left: 136px;
    padding-right: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}
.userlist p{
    padding-top: 8px;
}

.userlist p strong:nth-child(2){
    padding-left: 20px;
}

.userlist__image{
    width: 110px;
    height: 110px;
    background-image: url('https://m2bob-forum.net/wcf/images/avatars/3e/2720-3e546be0b0701e0cb670fa2f4fcb053d4f7e1ba5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 13px;
    left: 13px;
    border: 2px solid black;
}

